<div class="form container">

    <form
    class="for form-new-product"
    [formGroup]="formData"
    (ngSubmit)="onSubmit()"
    >
        <h1>New product</h1>

    <!-- campo product name -->

        <div class="field">
            <label for="product-name" class="label">Product Name</label>
            <input
                class="input input-product-name" 
                type="text"
                formControlName="name" 
                id="product-name" 
                placeholder="Ej: Muñecas de trapo"
            />

            <div class="errors">
                @if (formData.get('name'); as productName) {
                    @if(productName.invalid && (productName.touched || productName.dirty)){
                        @if (productName.errors?.['required']) {
                            <small>Campo obligatorio</small>
                        }
                        @if (productName.errors?.['minlength']) {
                        <small> Mínimo {{  productName.errors?.['minlength'].requiredLength }} caracteres</small>

                        }
                    }
                }
            </div>
        </div>
    
        <!-- campo product description -->

        <div class="field">
            <label for="product-description" class="label">Description</label>
            <textarea 
                class="input input-product-description" 
                type="text" 
                formControlName="description" 
                id="product-description" 
                placeholder="Ej: Muñeca tradicional, color verde">
            </textarea> 
            <div class="errors">
                @if (formData.get('description'); as productName) {
                    @if(productName.invalid && (productName.touched || productName.dirty)){
                        @if (productName.errors?.['required']) {
                            <small>Campo obligatorio</small>
                        }
                        @if (productName.errors?.['maxlength']) {
                        <small> Mínimo {{  productName.errors?.['maxlength'].requiredLength }} caracteres</small>

                        }
                    }
                }
            </div>
        </div>

        <!-- campo product image -->

        <div class="field">
            <label for="product-image" class="label">Image</label>
            <input
                type="text"
                class="input input-product-image"
                id="product-image"
                formControlName="image"
                placeholder="Ej: https://www.example.com/image.jpg"
            />  
            <div class="errors">
                @if (formData.get('image'); as productImage) {
                    @if(productImage.invalid && (productImage.touched || productImage.dirty)){
                        @if (productImage.errors?.['required']) {
                            <small>Campo obligatorio</small>
                        }
                        @if (productImage.errors?.['maxlength']) {
                        <small> Mínimo {{  productImage.errors?.['maxlength'].requiredLength }} caracteres</small>

                        }
                    }
                }
            </div>

        </div>

        <!-- campo product size -->
        
        
        <div class="field">
            <label for="product-size" class="label" >Size</label>
            <input 
            class="input input-product-size"
            type="number" 
            formControlName="size" 
            id="product-size" 
            />
            <div class="errors">
                @if (formData.get('size'); as productSize) {
                    @if(productSize.invalid && (productSize.touched || productSize.dirty)){
                        @if (productSize.errors?.['required']) {
                            <small>Campo obligatorio</small>
                        }
                        @if (productSize.errors?.['min']) {
                            <small> Mínimo {{  productSize.errors?.['min'].requiredLength }} centimetro</small>
                            
                        }
                        
                    }
                }
            </div>
            
        </div>


        <!-- campo product material -->
        
        
        <div class="field">
            <label for="product-material" class="label" >Material</label>
            <input 
            class="input input-product-material"
            type="text" 
            formControlName="material" 
            id="product-material" 
            placeholder="ej: algodón"/>
            <div class="errors">
                @if (formData.get('material'); as productMaterial) {
                    @if(productMaterial.invalid && (productMaterial.touched || productMaterial.dirty)){
                        @if (productMaterial.errors?.['required']) {
                            <small>Campo obligatorio</small>
                        }
                        @if (productMaterial.errors?.['maxlength']) {
                            <small> Mínimo {{  productMaterial.errors?.['maxlength'].requiredLength }} caracteres</small>
                            
                        }
                    }
                }
            </div>
            
        </div>


        <!-- campo product color -->
        
        
        <div class="field">
            <label for="product-color" class="label" >Color</label>
            <input 
            class="input input-product-color"
            type="color" 
            value="#000000"
            formControlName="color" 
            id="product-color" 
            />
            <div class="errors">
                @if (formData.get('color'); as productColor) {
                    @if(productColor.invalid && (productColor.touched || productColor.dirty)){
                        @if (productColor.errors?.['required']) {
                            <small>Campo obligatorio</small>
                        }
                    
                    }
                }
            </div>
            
        </div>

         <!-- campo product price -->
        
        
        <div class="field">
            <label for="product-price" class="label" >Price</label>
            <input 
            class="input input-product-price"
            type="number" 
            step="0.01"
            formControlName="price" 
            id="product-price" 
            placeholder="ej: 10"/>
            <div class="errors">
                @if (formData.get('price'); as productPrice) {
                    @if(productPrice.invalid && (productPrice.touched || productPrice.dirty)){
                        @if (productPrice.errors?.['required']) {
                            <small>Campo obligatorio</small>
                        }
                        @if (productPrice.errors?.['min']) {
                            <small> El precio minimo es: {{  productPrice.errors?.['min'].requiredLength }} </small>
                            
                        }
                    }
                }
            </div>
            
        </div>
         

        <!-- campo product stock -->
        
        
        <div class="field">
            <label for="product-stock" class="label" >Stock</label>
            <input 
            class="input input-product-stock"
            type="number" 
            formControlName="stock" 
            id="product-stock" 
            placeholder="ej: 10"/>
            <div class="errors">
                @if (formData.get('stock'); as productStock) {
                    @if(productStock.invalid && (productStock.touched || productStock.dirty)){
                        @if (productStock.errors?.['required']) {
                            <small>Campo obligatorio</small>
                        }
                        @if (productStock.errors?.['min']) {
                            <small> el stock minimo es: {{  productStock.errors?.['min'].requiredLength }}</small>
                            
                        }
                    }
                }
            </div>
            
        </div>
        
         <!-- campo product category -->
        
        
        <div class="field">
            <label for="product-category" class="label" >Category</label>
            <select class="input input-product-category" formControlName="category"  id="product-category" >
                <option value="">Select a category</option>
                <option value="munecas">munecas </option>
                <option value="munecas-trapo">munecas trapo</option>
                <option value="munecas-verdes">munecas verdes</option>
                

                <!-- @for (category of categories); track $index {
                    <option [value]="category.id">{{ category.name }}</option>
                } -->
            </select>
            <div class="errors">
                @if (formData.get('category'); as productCategory) {
                    @if(productCategory.invalid && (productCategory.touched || productCategory.dirty)){
                        @if (productCategory.errors?.['required']) {
                            <small>Campo obligatorio</small>
                        }
                        
                    }
                }
            </div>
            
        </div>
        


        <!-- campo product isActive -->

        <div class="field">

            <label for="product-status" class="label">Status</label>
            <div class="status-option">
                <input 
                type="radio"
                class="input-product-status input-product-status--active"
                formControlName="isActive"
                id="product-status-active"
                [value]="true"
                >
                <label for="product-status-active" class="product-state-active">Active</label>

                <input 
                type="radio"
                class="input-product-status input-product-status--notactive"
                formControlName="isActive"
                id="product-status-notactive"
                [value]="false"
                >
                <label for="product-status-notactive" class="product-status-active">Not Active</label>
            </div>
            

        </div>
        
        <!-- campo message -->

        <div class="fiel-message">
            <span>{{ message }}</span>
        </div>

        <!-- campo registered booton -->


        <div class="form form-buttons">
            <button type="submit" class="btn-submit" [disabled]="formData.invalid">Save</button>
            <button  type="button"  class="btn-reset" (click)="onReset()">Reset form</button>
        </div>


    </form>
</div>


