<div class="form container">

    <form
    class="for form-new-user"
    [formGroup]="formData"
    (ngSubmit)="onSubmit()"
    >
        <h1>New User</h1>

    <!-- campo user name -->

        <div class="field">
            <label for="user-name" class="label">Name*</label>
            <input
                class="input input-user-name" 
                type="text"
                formControlName="name" 
                id="user-name" 
            />

            <div class="errors">
                @if (formData.get('name'); as userName) {
                    @if(userName.invalid && (userName.touched || userName.dirty)){
                        @if (userName.errors?.['required']) {
                            <small>Campo obligatorio</small>
                        }
                        @if (userName.errors?.['minlength']) {
                        <small> Mínimo {{  userName.errors?.['minlength'].requiredLength }} caracteres</small>

                        }
                    }
                }
            </div>
        </div>
    
        <!-- campo user username -->

        <div class="field">
            <label for="user-username" class="label">Username*</label>
            <input 
                class="input input-user-username" 
                type="text" 
                formControlName="username" 
                id="user-username" 
                placeholder="Ej: sebas_12"
            /> 
            <div class="errors">
                @if (formData.get('username'); as userName) {
                    @if(userName.invalid && (userName.touched || userName.dirty)){
                        @if (userName.errors?.['required']) {
                            <small>Campo obligatorio</small>
                        }
                        @if (userName.errors?.['maxlength']) {
                        <small> Mínimo {{  userName.errors?.['maxlength'].requiredLength }} caracteres</small>

                        }
                        @if (userName.errors?.['minlength']) {
                        <small> Mínimo {{  userName.errors?.['minlength'].requiredLength }} caracteres</small>

                        }
                    }
                }
            </div>
        </div>

        <!-- campo user phone -->

        <div class="field">
            <label for="user-phone" class="label">Phone</label>
            <input
                type="number"
                class="input input-user-phone"
                id="user-phone"
                formControlName="phone"
                placeholder="Ej: 320 000 0000"
            />  
            <div class="errors">
                @if (formData.get('phone'); as userphone) {
                    @if(userphone.invalid ){
                        @if (userphone.errors?.['pattern']) {
                            <small>Formato invalido(solo formato +57 Colombia)</small>
                        }
              
                    }
                }
            </div>

        </div>

        <!-- campo user email -->
        
        
        <div class="field">
            <label for="user-email" class="label" >Email*</label>
            <input 
            class="input input-user-email"
            type="email" 
            formControlName="email" 
            id="user-email" 
            placeholder="ej: correo10@gmail.com"
            />
            <div class="errors">
                @if(formData.get('email'); as emailUser ){
                    @if( emailUser.invalid && (emailUser.touched || emailUser.dirty) ){
                         @if(emailUser.errors?.['required']){
                                <small>Campo obligatorio</small>
                            }
                            @if(emailUser.errors?.['email']){
                                <small> Email invalido </small>
                            }
                    }
                }
            </div>
            
        </div>

        <!-- campo user password -->


        <div class="field">
            <label for="user-password">Password*</label>
            <input type="password" formControlName="password" id="user-password" autocomplete="off"/>
            <div class="errors">
                @if(formData.get('password'); as passwordUser ){
                    @if( passwordUser.invalid && (passwordUser.touched || passwordUser.dirty) ){
                        @if(passwordUser.errors?.['required']){
                            <small>Campo obligatorio</small>
                        }
                        @if(passwordUser.errors?.['minlength']){
                            <small>  Mínimo {{ passwordUser.errors?.['minlength'].requiredLength }} caracteres </small>
                        }
                    }
                }

            </div>

        </div>

        <!-- campo user  confirmpassword -->


        <div class="field">
            <label for="user-confirmpassword">Confirm Password*</label>
            <input type="confirmpassword" formControlName="confirmPassword" id="user-confirmpassword" autocomplete="off"/>
            <div class="errors">
                @if(formData.get('confirmpassword'); as confirmpasswordUser ){
                    @if( confirmpasswordUser.invalid && (confirmpasswordUser.touched || confirmpasswordUser.dirty) ){
                        @if(confirmpasswordUser.errors?.['required']){
                            <small>Campo obligatorio</small>
                        }
                        @if(confirmpasswordUser.errors?.['mismatch']){
                            <small> La contraseña no coincide </small>
                        }
                    }
                }

            </div>

        </div>

        <!-- campo user role -->
        
        
        <div class="field">
            <label for="user-role" class="label" >Role*</label>
            <select
            formControlName="role" 
            id="user-role" >
            <option value="">Select role...</option>
            <option value="admin">admin</option>
            <option value="colaborator">colaborator</option>
            <option value="registered">registered</option>

          </select>

            <div class="errors">
                @if (formData.get('role'); as userRole) {
                    @if(userRole.invalid && (userRole.touched || userRole.dirty)){
                        @if (userRole.errors?.['required']) {
                            <small>Campo obligatorio</small>
                        }
                        
                    }
                }
            </div>
            
        </div>
        

        <!-- campo user isActive -->

        <div class="field">

            <label for="user-status" class="label">Status*</label>
            <div class="status-option">
                <input 
                type="radio"
                class="input-user-status input-user-status--active"
                formControlName="isActive"
                id="user-status-active"
                [value]="true"
                >
                <label for="user-status-active" class="user-state-active">Active</label>

                <input 
                type="radio"
                class="input-user-status input-user-status--notactive"
                formControlName="isActive"
                id="user-status-notactive"
                [value]="false"
                >
                <label for="user-status-notactive" class="user-status-active">Not Active</label>
            </div>
            

        </div>
        
        <!-- campo message -->

        <div class="fiel-message">
            <!-- <span>{{ message }}</span> -->
        </div>

        <!-- campo registered booton -->


        <div class="form form-buttons">
            <button type="submit" class="btn-submit" [disabled]="formData.invalid">Save</button>
            <button  type="button"  class="btn-reset" (click)="onReset()">Reset form</button>
        </div>


    <!-- </form>
</div> -->

 
