<nav class="nav-var">
    <ul>
        @if(userData){
            <li class="menu-item"> <span>Hello, {{userData.name}}</span> </li>
            <li><button class="btn-logout" (click)="onLogout()">Cerrar sesion</button></li>
        }
        @else {
            <li><a routerLink="/home" routerLinkActive="active-link">Home</a></li>
            <li><a routerLink="/register" routerLinkActive="active-link">Register</a></li>
            <li><a routerLink="/login" routerLinkActive="active-link">Login</a></li>
        }

    </ul>    
    
        
        <!-- <li><a routerLink="/products" routerLinkActive="active-link">Products</a></li>
        <li><a routerLink="/product-detail" routerLinkActive="active-link">product-detail</a></li>
        <li><a routerLink="/cart" routerLinkActive="active-link">cart</a></li>
        <li><a routerLink="/checkout" routerLinkActive="active-link">checkout</a></li> -->

    
</nav>
