/* =========================================
   STYLES.CSS — Solo Variables, Fuentes y Resets Globales
   ========================================= */
@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap');

:root {
  --over-font-size: 62.5%;

  /* Paleta de colores */
 
  --botton-pay:#E66C00;
  --Fondo-body: #FFF9F5;
  --Acentos-rosados: #E8A598;
  --Marron-calido: #5D4037;
  --Verde-vintage: #A3B19B;
  --Detalles-dorados: #D4B886;
  --fondopagina: #FFF9F5;
  --fondo-section: #FFF2EA;
  --Pink-Pearl: #FCEBE8;
  --Action-btn: #D48171;
  --Verde-bosque: #2E472D;
  --Oro-viejo: #C5A059;
  --Teja-profundo: #8B3A36;

  /* Fuentes */
  --fuente-principal: "Playfair Display", serif;
  --fuente-secundaria: "Montserrat", sans-serif;
  --fuente-terciaria: "Quicksand", sans-serif;
  --fuente-testimonios: "Lora", serif;
}

/* Reset universal */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: var(--over-font-size);
  scroll-behavior: smooth;
}

html, body {
  min-height: 100vh;
  overflow-x: clip;
  width: 100%;
}

body {
  font-size: 1.6rem;
  font-family: var(--fuente-secundaria);
  font-weight: 400;
  font-style: normal;
  background-color: var(--Fondo-body);
  color: var(--Marron-calido);
  line-height: 1.7;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.85' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.03'/%3E%3C/svg%3E");
}

header.header {
    position: sticky;
    top: 0;
    z-index: 3;
    background: var(--Pink-Pearl);
}

ul, li {
  list-style: none;
  text-decoration: none;
}

a {
  color: var(--Marron-calido);
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

p.error-style {
  color: rgb(203, 41, 68);
  font-family: cursive;
}
